* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------------------*/

header {
    background-color: rgb(29, 29, 29);
    padding: 10px 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: white;
    color: black;
}

/*--------------------------------------------------------------------*/

body{
    background-color: #e7e7e793;
}

#bem-vindo {
  position: relative;
  height: 65vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#borda {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 38px;
    padding-top: 33px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: transparent;    
    color: whitesmoke;
    justify-items: center;
    align-items: center;
    line-height: 1.2;
    text-shadow: 2px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

#bt {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

button {
    margin: 9px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #2d7eb4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover{
    background-color: #3743e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*-----------------------------------------------------------------*/

#titulo{
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: MyriadPro, Arial, sans-serif;
    font-size: 25px;
    line-height: 2;
    word-spacing: 5px;
    text-align: justify;
    font-weight: bold;
}

/*#paragrafos{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0px;
}*/

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 2;
    word-spacing: 5px;
    text-align: justify;
    text-indent: 75px
}

.linha1 {
    align-items: center;
    text-align: center;
}

#ft1 {
    display: inline-block;
    width: 375px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center;
    align-items: center;

}
#ft1 img{
    padding-bottom: 20px;
    width: 300px;
    padding-right: 30px;
}

#ft2{
    display: inline-block;
    width: 375px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin: 20px auto;
    text-align: center;
    align-items: center;

}
#ft2 img {
    padding-bottom: 20px;
    width: 300px;
}

#ft3 {
    display: inline-block;
    width: 375px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin: 20px auto;
    text-align: center;
    align-items: center;

}
#ft3 img {
    padding-bottom: 20px;
    width: 300px;
    padding-right: 30px;
}

#ft4 {
    display: block;
    width: 375px;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}
#ft4 img {
    padding-bottom: 20px;
    width: 300px;
    padding-right: 30px;
}