* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('enfermeira-de-tiro-medio-e-homem-posando.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  

.login-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #2d7eb4;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3743e9;
}

.register-link {
  margin-top: 15px;
  color: white;
  font-size: 14px;
}

.register-link a {
  color: #171c64;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.erro-mensagem {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}
